.tab {
  display: flex;
  flex-direction: column;
  border: none;
}

.tab-list {
  outline: 0;
}

.panel {
  background-color: var(--mantine-color-myPurple-0);
}

.flex-panel {
  background-color: var(--mantine-color-myPurple-0);
}
