<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/locker.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <div id="modalContainer">
        <div class="black-overlay"></div>
        <div class="modal">
            <div class="modal-header">
                <h2 class="modal-title">Añadir armario</h2>
                <a href="/locker"><button class="close-modal">X</button></a>
            </div>
            <div class="modal-body">
                <form class="locker-form" action="/locker" method="POST">
                    <label for="description">Nombre del armario</label>
                    <input type="text" id="description" name="description">
                    <label for="location">Ubicación</label>
                    <input type="text" id="location" name="location">
                    <button type="submit" class="add-locker-confirm">Añadir</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/sidemenu.ejs'); %>
        <%- include('../partials/userbar.ejs'); %>

            <main id="mainContainer">


                <!-- locker content -->
                <div id="mainContentContainer">
                    <section id="lockersSection">
                        <div class="locker-section-header">
                            <h1 class="locker-section-title">Armarios</h1>
                            <!-- <div class="title-and-search">
                            <input type="text" id="search" placeholder="Buscar objeto">
                        </div> -->
                        </div>

                        <div class="locker-flex">

                            <% lockers.forEach((locker)=> { %>


                                <div class="locker-box">
                                    <div class="info-and-image">
                                        <div class="locker-info">
                                            <span class="locker-name">
                                                <%= locker.description %>
                                            </span>
                                            <span class="locker-location">
                                                <%= locker.location %>
                                            </span>
                                        </div>
                                        <img src="/images/locker-icon.svg" alt="Locker's icon">
                                    </div>
                                    <div class="action-buttons">
                                        <img class="edit-icon" src="/images/edit-icon.svg" alt="Edit icon">
                                        <button class="see-boxes-button">Ver casillas</button>
                                        <img class="delete-button" src="/images/trash-icon.svg" alt="Delete icon">
                                    </div>
                                </div>

                                <% }) %>


                        </div>

                        <div class="add-locker-button">
                            <button>+</button>
                            <p>Añadir</p>
                        </div>


                    </section>
                </div>

            </main>

            <script>
                const socket = new WebSocket('ws://localhost:8080');

                socket.onmessage = (event) => {
                    const data = JSON.parse(event.data);
                    if (data.type === 'locker_create') {
                        alert(data.message);
                    }
                };

            </script>
</body>

</html>