//view to show all lockers. this is just a template
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/sidemenu.ejs'); %>
        <p>Listado de armarios</p>
        <% lockers.forEach((locker)=> { %>
            <p>
                <%= locker.description %>
            </p>
            <% }) %>
</body>

</html>