<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- General sidemenu component -->
    <div id="sidemenuContainer">
        <nav class="sidemenu-all">
            <ul class="menu-main-links" <li><img src="" alt="Sidemenu logo"></li>
                <li>
                    <a class="inactive" href="/users/index">users</a>
                </li>
                <li>
                    <a class="active" href="/lockers/index">lockers</a>
                </li>
                <li>
                    <a class="inactive" href="/reportlog/index">reports</a>
                </li>
                <li>
                    <a class="inactive" href="/notifications/index">notifications</a>
                </li>
            </ul>
            <img class="logout-icon" src="" alt="Logout icon">
        </nav>
    </div>

</body>

</html>