<h2>Agregar Nuevo Reporte</h2>
<form action="/reportlog" method="POST">
    <label for="reportId">Report ID:</label>
    <input type="text" name="reportId" placeholder="reportId">
    <br>
    <label for="userId">User ID:</label>
    <input type="text" name="userId" placeholder="userId">
    <br>
    <label for="comment">Comentario:</label>
    <textarea name="comment" placeholder="comment"></textarea>
    <br>
    <button type="submit">Enviar</button>
</form>
