<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/reportable.css" />
</head>

<body>
  <div id="modalContainer">
    <div class="black-overlay"></div>
    <div class="modal">
      <div class="modal-header">
        <h2 class="modal-title">Editar armario</h2>
        <a href="/reportlog">
          <button class="close-modal">X</button>
        </a>
      </div>
      <div class="modal-body">
        <form class="reportlog-form" action="/reportLog/update/<%= currentLog.id %>" method="POST">
          <label for="location">Edita tu comentario</label>
          <input type="text" id="comment" name="comment" value="<%= currentLog.comment %>" />
          <button type="submit" class="add-reportlog-confirm">Cambiar</button>
        </form>
      </div>
    </div>
  </div>


</body>

</html>