/* locker content css */

@fontface {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #mainContentContainer {
    background-color: #393a58;
    width: 100%;
    height: 100vh;
    padding: 15vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }

  #lockersSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .locker-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 20px;
  }

  .locker-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #393a58;
    width: 100%;
    height: 15vh;
    padding: 20px 20px;
    border: 1px solid #f1f2ff;
    border-radius: 10px;
  }

  .locker-section-header {
    display: flex;
    color: #ffff;
    align-items: flex-start;
    width: 100%;
    padding: 0 5vw;
  }

  .info-and-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
  }

  .locker-info {
    display: flex;
    flex-direction: column;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    height: auto;
  }

  .edit-icon {
    color: #ffff;
    height: 24px;
  }

  .delete-button {
    all: unset;
    background-color: transparent;
    height: 26px;
  }

  .see-boxes-button {
    all: unset;
    color: #ffff;
    style: none;
    background-color: #7072c2;
    padding: 5px 50px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.7s;
  }

  .add-locker-button {
    all: unset;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 75%;
    left: 70%;
    color: #00000;
    style: none;
    background-color: rgb(135, 136, 214);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
    filter: drop-shadow(0px 1px 10px rgb(47, 44, 65));
  }

  .add-locker-button > button {
    all: unset;
    color: #00000;
    font-size: 4rem;
    style: none;
  }

  .add-locker-button > p {
    display: none;
  }

  /* modal and overlay */

  .black-overlay {
    position: fixed;

    z-index: 2;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal {
    position: fixed;
    z-index: 3;
    width: 40vw;
    height: 50vh;
    left: 0;
    right: 0;
    top: 20vh;
    margin-inline: auto;
    width: fit-content;
    background-color: (--);
    border-radius: 30px;
  }

  .modal-title {
    font-size: 18px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .modal-header > a {
    all: unset;
  }

  .modal-header > a > button {
    all: unset;
    color: #ffff;
    background-color: rgb(116, 117, 201);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .locker-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
  }

  .locker-form > input {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #7072c2;
  }

  .add-locker-confirm {
    all: unset;
    color: #ffff;
    display: flex;
    justify-content: center;
    background-color: rgb(77, 79, 163);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  #mainContentContainer {
    background-color: #2a2b44;
    width: 100%;
    height: 90vh;
    padding: 10px 30px 30px 130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #lockersSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: justify-start;
    padding: 70px;
    height: 100%;
    width: 100%;
    background-color: #5f60bd;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
  }

  .locker-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    gap: 20px;
    width: 70%;
    height: 79%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 20px;
  }

  .locker-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2a2b44;
    width: 350px;
    height: 150px;
    padding: 20px 20px;
    border-radius: 10px;
  }

  .locker-section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .locker-section-title {
    color: #ffff;
    font-weight: 600;
    font-size: 36px;
    margin: 20px 0;
  }

  .locker-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffff;
  }

  .info-and-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .locker-box-title {
    color: #ffff;
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    height: auto;
  }

  .edit-icon {
    color: #ffff;
    height: 24px;
  }

  .delete-button {
    color: #ffff;
    height: 26px;
  }

  .see-boxes-button {
    all: unset;
    color: #ffff;
    style: none;
    background-color: #4f51b3;
    padding: 5px 50px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.7s;
  }

  .see-boxes-button:hover {
    background-color: rgb(90, 92, 187);
    padding: 5px 60px;
  }

  ::-webkit-scrollbar {
    width: 18px;
    padding: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(193, 194, 218);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4f51b3;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .add-locker-button {
    all: unset;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 45%;
    left: 80%;
    color: #000;
    background-color: rgb(175, 176, 238);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.7s;
  }

  .add-locker-button:hover {
    top: 43%;
    left: 78%;
    width: 180px;
    height: 180px;
    background-color: rgb(143, 145, 231);
  }

  .add-locker-button > button {
    all: unset;
    color: #00000;
    font-size: 4rem;
    style: none;
  }

  /* modal and overlay */

  .black-overlay {
    position: fixed;

    z-index: 2;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal {
    position: fixed;
    z-index: 3;
    width: 40vw;
    height: 400px;
    left: 0;
    right: 0;
    top: 20vh;
    margin-inline: auto;
    width: fit-content;
    background-color: white;
    border-radius: 30px;
  }

  .modal-title {
    font-size: 18px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .modal-header > a {
    all: unset;
  }

  .modal-header > a > button {
    all: unset;
    color: #ffff;
    background-color: #4f51b3;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .locker-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
  }

  .locker-form > input {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #4f51b3;
  }

  .add-locker-confirm {
    all: unset;
    color: #ffff;
    display: flex;
    justify-content: center;
    background-color: #4f51b3;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }

  .delete-form > button {
    all: unset;
  }

  .delete-form {
    cursor: pointer;
  }

  #logout-form > button {
    all: unset;
  }
}
