<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comment form</title>
</head>

<body>
    <form action="/report" method="POST">
        <label for="reportId">reportId</label>
        <input type="text" name="reportId" placeholder="reportId">
       <br>
        <label for="userId">userId</label>
        <input type="text" name="userId" placeholder="userId">
        <br>
        <label for="comment">comment</label>
        <textarea name="comment" placeholder="comment"></textarea>
        <br>
        <label for="status">status</label>
        <input type="text" name="status" placeholder="status">
        <br>
        <button type="submit">Submit</button>
    </form>

</body>

</html>