<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit comment</title>
</head>

<body>
  <h1>Edit Motorbike</h1>
  <form action="/reports/reportlog/<%= motorbike.id %>?_method=PUT" method="POST">
    <label for="brand">Brand:</label>
    <input type="text" id="brand" name="brand" value="<%= motorbike.brand %>" required>
    <br>
    <label for="model">Model:</label>
    <textarea id="model" name="model" required><%= motorbike.model %></textarea>
    <br>
    <button type="submit">Update</button>
  </form>
  <a href="/motorbikes">Back to List</a>
</body>

</html>